vss-root {
  --vss-theme-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.08),
    rgba(68, 71, 70, 0.08)
  );
  --vss-theme-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.12),
    rgba(68, 71, 70, 0.12)
  );
  --vss-theme-color-on-surface-2: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.08),
      rgba(31, 31, 31, 0.08)
    ),
    var(--vss-theme-color-secondary-container);
  --vss-theme-color-on-surface-4: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.12),
      rgba(31, 31, 31, 0.12)
    ),
    var(--vss-theme-color-secondary-container);
  --vss-theme-color-white: #fff;
  --vss-theme-color-on-background: #1f1f1f;
  --vss-theme-color-background: #fff;
  --vss-theme-color-on-surface: #1f1f1f;
  --vss-theme-color-on-surface-variant: #444746;
  --vss-theme-color-surface-0: #fff;
  --vss-theme-color-surface-variant: #e1e3e1;
  --vss-theme-color-inverse-surface: #303030;
  --vss-theme-color-inverse-on-surface: #f2f2f2;
  --vss-theme-color-primary: #0b57d0;
  --vss-theme-color-primary-80: #a8c7fa;
  --vss-theme-color-primary-30: #0842a0;
  --vss-theme-color-primary-20: #062e6f;
  --vss-theme-color-on-primary: #fff;
  --vss-theme-color-neutral-10: #1f1f1f;
  --vss-theme-color-neutral-90: #e3e3e3;
  --vss-theme-color-primary-container: #d3e3fd;
  --vss-theme-color-on-primary-container: #041e49;
  --vss-theme-color-secondary: #00639b;
  --vss-theme-color-on-secondary: #fff;
  --vss-theme-color-secondary-container: #c2e7ff;
  --vss-theme-color-on-secondary-container: #001d35;
  --vss-theme-color-tertiary-container: #c4eed0;
  --vss-theme-color-on-tertiary-container: #072711;
  --vss-theme-color-utility-error: #b3261e;
  --vss-theme-color-utility-on-error: #fff;
  --vss-theme-color-utility-outline: #747775;
  --vss-theme-color-surface-1: #f8fafd;
  --vss-theme-color-surface-2: #f3f6fc;
  --vss-theme-color-surface-3: #eff3fa;
  --vss-theme-color-surface-4: #edf2fa;
  --vss-theme-color-surface-5: #eaf0f9;
  --vss-theme-color-extensions-do-container: #085786;
  --vss-theme-color-extensions-on-do-container: #fff;
  --vss-theme-color-extensions-dont-container: #b3261e;
  --vss-theme-color-extensions-on-dont-container: #fff;
  --vss-theme-color-extensions-caution-container: #e8e971;
  --vss-theme-color-extensions-on-caution-container: #1f1f1f;
  --vss-theme-color-ref-secondary-200: #7fcfff;
  --vss-theme-color-ref-secondary-300: #5ab3f0;
  --vss-theme-color-ref-neutral-100: #e3e3e3;
  --vss-theme-color-ref-neutral-200: #c7c7c7;
  --vss-theme-color-scrim-video-container: rgb(31 31 31 / 64%);
  --vss-theme-color-scrim-video-control: rgb(255 255 255 / 12%);
  --vss-theme-color-scrim-video-control-pressed: rgb(255 255 255 / 24%);
  --vss-theme-color-copy-link-tooltip: #f2f2f2;
  --vss-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%),
    0px 1px 3px 1px rgb(0 0 0 / 15%);
  --vss-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%),
    0px 2px 6px 2px rgb(0 0 0 / 15%);
  --vss-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%),
    0px 4px 8px 3px rgb(0 0 0 / 15%);
}

vss-root.dark-mode {
  --vss-theme-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(196, 199, 197, 0.08),
    rgba(196, 199, 197, 0.08)
  );
  --vss-theme-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(196, 199, 197, 0.12),
    rgba(196, 199, 197, 0.12)
  );
  --vss-theme-color-on-surface-2: linear-gradient(
      0deg,
      rgba(227, 227, 227, 0.08),
      rgba(227, 227, 227, 0.08)
    ),
    var(--vss-theme-color-secondary-container);
  --vss-theme-color-on-surface-4: linear-gradient(
      0deg,
      rgba(227, 227, 227, 0.12),
      rgba(227, 227, 227, 0.12)
    ),
    var(--vss-theme-color-secondary-container);
  --vss-theme-color-white: #fff;
  --vss-theme-color-on-background: #e3e3e3;
  --vss-theme-color-background: #1f1f1f;
  --vss-theme-color-on-surface: #e3e3e3;
  --vss-theme-color-on-surface-variant: #c4c7c5;
  --vss-theme-color-surface-0: #1f1f1f;
  --vss-theme-color-surface-variant: #444746;
  --vss-theme-color-inverse-surface: #e3e3e3;
  --vss-theme-color-inverse-on-surface: #303030;
  --vss-theme-color-surface-1: #28292a;
  --vss-theme-color-surface-2: #2d2f31;
  --vss-theme-color-surface-3: #333438;
  --vss-theme-color-surface-4: #34363a;
  --vss-theme-color-surface-5: #383a3e;
  --vss-theme-color-primary: #a8c7fa;
  --vss-theme-color-primary-80: #a8c7fa;
  --vss-theme-color-primary-30: #0842a0;
  --vss-theme-color-primary-20: #062e6f;
  --vss-theme-color-neutral-10: #1f1f1f;
  --vss-theme-color-neutral-90: #e3e3e3;
  --vss-theme-color-on-primary: #062e6f;
  --vss-theme-color-primary-container: #0842a0;
  --vss-theme-color-on-primary-container: #d3e3fd;
  --vss-theme-color-secondary: #7fcfff;
  --vss-theme-color-on-secondary: #035;
  --vss-theme-color-secondary-container: #004a77;
  --vss-theme-color-on-secondary-container: #c2e7ff;
  --vss-theme-color-tertiary-container: #0f5223;
  --vss-theme-color-on-tertiary-container: #c4eed0;
  --vss-theme-color-utility-error: #f2b8b5;
  --vss-theme-color-utility-on-error: #601410;
  --vss-theme-color-utility-outline: #8e918f;
  --vss-theme-color-extensions-do-container: #b4e5f2;
  --vss-theme-color-extensions-on-do-container: #073550;
  --vss-theme-color-extensions-dont-container: #f2b8b5;
  --vss-theme-color-extensions-on-dont-container: #601410;
  --vss-theme-color-extensions-caution-container: #e2e290;
  --vss-theme-color-extensions-on-caution-container: #473e00;
  --vss-theme-color-copy-link-tooltip: #f2f2f2;
  --vss-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%),
    0px 1px 3px 1px rgb(0 0 0 / 15%);
  --vss-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%),
    0px 2px 6px 2px rgb(0 0 0 / 15%);
  --vss-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%),
    0px 4px 8px 3px rgb(0 0 0 / 15%);
}
